* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

@font-face {
    font-family: "Random";
    src: url(tipografia/Random\ Wednesday.ttf);
}

@font-face {
    font-family: "Obled";
    src: url(tipografia/Obled\ Kids.otf);
}

body {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#contenedor {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background-color: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 8px 35px 55px rgba(0, 0, 0, 0.1);
}

#ladoIzquierdo {
    position: relative;
    background: #003147;
    padding: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imgBox {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 20px;
}

#perfilTexto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
}

#perfilTexto:hover {
    transform: scale(1.06);
    background-color: #65969e6b; 
    border-radius: 20px;
}

#perfilTexto h3 {
    margin-bottom: 10px;
    color: #00bcd4;
    font-family: "Random";
}

#perfilTexto h2 {
    margin-top: 15px;
    font-size: 20px;
    color: #00bcd4;
    font-family: "Random";
}

#perfilTexto p {
    font-size: 14px;
}

#informacionContacto {
    margin-top: 20px;
}

#informacionContacto h3 {
    margin-bottom: 10px;
    margin-left: 80px;
    font-family: "Obled";
    color: #00bcd4;
}

#informacionContacto li {
    margin-bottom: 10px;
    font-size: 14px;
    align-items: center;
}

.iconos a {
    color: #fff;
}

#ladoDerecho {
    background: #f4f4f4;
    padding: 40px;
    color: #333;
    position: relative;
    perspective: 1000px;
}


.visualizar:hover {
    transform: scale(1.06);
    background-color: #64c9d852; 
    border-radius: 20px;
}

#ladoDerecho h3 {
    margin-bottom: 15px;
    border-bottom: 2px solid #003147;
    padding-bottom: 5px;
    color: #003147;
    font-family: "Obled";
    position: relative;
}

#ladoDerecho h4 {
    margin: 10px 0 5px;
    font-size: 16px;
    color: #007b9e;
}

#ladoDerecho section {
    list-style: 0;
    padding: 0;
}

#ladoDerecho ul {
    margin-bottom: 10px;
    padding-left: 10px;
}

#ladoDerecho p {
    font-size: 14px;
    line-height: 1.4;
}

.iconos {
    display: flex;
    flex-direction: row;
}

.iconos img {
    width: 25px;
    height: 25px;
    margin-right: 0.5rem;
}

.iconos a:hover {
    color: plum;
    transition: ease-in-out 0.3s;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
#imgBox img {
    animation: aparecer 3s ease-in-out;
}

@keyframes llenarBarra1 {
    0% {
        width: 0;
    }

    100% {
        width: 75%;
    }
}

@keyframes llenarBarra2 {
    0% {
        width: 0;
    }

    100% {
        width: 90%;
    }
}

@keyframes llenarBarra3 {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
    }
}

@keyframes llenarBarra4 {
    0% {
        width: 0;
    }

    100% {
        width: 95%;
    }
}



.habilidades {
    width: 100%;
    height: 30px;
    background-color: #90b3cf91;
    border-radius: 15px;
    overflow: hidden;
    animation: llenarBarra 2s ease-in-out;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center; 
}

.progreso1 {
    height: 100%;
    background-color: #05598a59;
    position: relative;
    display: flex;
    width: 75%;
    animation: llenarBarra1 2s ease-in-out;
}

.progreso2 {
    height: 100%;
    background-color: #05598a59;
    position: relative;
    display: flex;
    width: 90%;
    animation: llenarBarra2 2s ease-in-out;
}

.progreso3 {
    height: 100%;
    background-color: #05598a59;
    position: relative;
    display: flex;
    width: 80%;
    animation: llenarBarra3 2s ease-in-out;
}

.progreso4 {
    height: 100%;
    background-color: #05598a59;
    position: relative;
    display: flex;
    width: 95%;
    animation: llenarBarra4 2s ease-in-out;
}

.texto {
    color: #f9fcfd;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.contenedor {
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    #contenedor {
        grid-template-columns: 1fr;
        margin: 30px;
        padding: 20px;
    }

    #ladoIzquierdo,
    #ladoDerecho {
        padding: 20px;
    }

    #imgBox {
        width: 150px;
        height: 150px;
    }

    #perfilTexto h3,
    #perfilTexto h2 {
        font-size: 25px;
    }
}

.barra {
    display: inline-block;
    justify-content: center;
    padding: 0;
    list-style: none;
    position: relative;
    z-index: 1;
}

.barra img {
    width: 120px;
    height: 120px;
    cursor: pointer;
}

.barraContenido {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 120px;
    border: 10px solid #ccc;
    border-radius: 10px;
}

.barra:hover .barraContenido {
    display: block;
}

.barraContenido a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #000;
}

.barraContenido a:hover {
    background-color: #00bcd4;
}

details {
    width: 300px;
    border: 1px;
    border-radius: 5px;
    padding: 10px;
    background-color: #90b3cf91;
    font-family: Arial, sans-serif;
}

summary {
    font-weight: bold;
    cursor: pointer;
    list-style: none;
}

summary::before {
    content: "▶  ";
    display: inline-block;
    transition: transform 1 ease-in-out;
}

details[open] summary::before {
    transform: rotate(90deg);
} 

.ilustracion {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 20px;
    margin-top: 5px;
} 

.ilustracion img {
    width: 700px;
    height: 40px;
    object-fit: cover;
    border-radius: 5px;
} 

